*{
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
}

#background{
    background-image: url('./images/crime.png');
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 100vh;
}

#form-background{
    width: 70vw;
    height: 100vh;
}