*{
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
}

#background{
    background-image: url('./images/crime.png');
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 100vh;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    padding: 10px;
    background-color: rgba(0, 0, 0, .6);
}

#logo-img{
    width: 100px;
    height: 100px;
}

#logo-name{
    color: azure;
    font-size: 80px;
}

#form-background{
    width: 70vw;
    height: 100vh;
}

form{
    display: flex;
    width: 60vw;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-input{
    display: flex;
    width: 25vw;
    flex-direction: column;
    margin-bottom: 10px;
}